# Production license for @nuxt/ui-pro, get one at https://ui.nuxt.com/pro/purchase
NUXT_UI_PRO_LICENSE=
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=
# Public Auth URL, used for Auth redirects
NUXT_PUBLIC_AUTH_BASE_URL=
# Access token JWT secret
NUXT_AUTH_ACCESS_TOKEN_JWT_SECRET=
# Refresh token JWT secret
NUXT_AUTH_REFRESH_TOKEN_JWT_SECRET=
